[submodule "services/core-api"]
	path = services/core-api
	url = https://github.com/Naveen2070/EventHive.git
	branch = main
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/Naveen2070/EventHive-UI.git
	branch = main
[submodule "services/identity-service"]
	path = services/identity-service
	url = https://github.com/Naveen2070/Hive-Identity.git
	branch = main
[submodule "services/movie-service"]
	path = services/movie-service
	url = https://github.com/Naveen2070/Hive-Movie.git
